.topnav {
  background-color: rgb(172, 186, 255);
  box-shadow: 0 2px 4px 0 #00000066;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: 0;
  width: 100%;
  padding: 1em;
  height: 3em;
}

.topnav a {
  align-self: center;
  font-size: 1em;
  font-weight: 600;
  height: 3em;
  padding: 1em 2em;
}

.topnav a:hover {
  height: 3em;
  background-color: rgb(189, 203, 255);
}

.footer {
  width: 100%;
  position: absolute;
  background-color: bisque;
}
