body {
  margin-top: 3em;
}

.featured-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.featured-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  box-shadow: 0 2px 4px 0 #00000066;
  border-radius: 4px;
  cursor: pointer;
  padding: 1em;
}

.featured-img {
  border-radius: 4px;
  border: 1px solid #00000033;
}

.featured-name {
  font-size: 1em;
  font-weight: bold;
}

.featured-price {
  font-size: 1em;
}

.principles-container {
  padding: 20px 40px;
}
